#buttonDiv{
    background-color: #2a3232;
    width: 100%; 
    display: flex;
    justify-content: space-around;
}


.clozeButton{
    background-color: #4f6e6c;
    text-align: center;
    padding: 10px; 
    margin: 10px; 
}

.clozeButton:hover{
    background-color: #bf3b33;
}

.finalForm{
    background-color: white;
}

.finalForm-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5f8f5;
}

#finalTitle{
    color: black;
}

#printComponentDiv{
    max-width: 75%;
    border: 1px solid black;
    color: black;
    border-radius: 15px; 
    padding: 20px; 
}