/* position attributes */
.inputContainerDiv{
    background-color: #1e2324;
    color: #f0ecd7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.inputCapDiv{
    flex: 1;
}

.inputInnerDiv{
    flex: 5;
    width: 50%;
}

/* other aspects */ 
.inputInstructionParagraph{
    text-align: center;
    font-size: 1.5em;
}

.errorMessage{
    color: #bf3b33;
}

.overallFormDiv{
    width: 100%; 
    max-width: 900px;
}

.formTitleDiv{
    margin: auto; 
    text-align: center;
}

.textForm{
    margin: auto;
    width: 100%;
}

.textField{
    box-sizing: border-box;
    width: 100%; 
    min-height: 200px;
    min-width: 400px;
    font-size: calc( 5px + 2vmin);
    font-family: Arial, Helvetica, sans-serif;
}

.textTitle{
    margin: 10px;
    font-size: calc(10px + 2vmin);
    width: 70%;
    min-width: 400px;
}